NODE_ENV=

# Database config
DATABASE_URL=
MONGO_URI=

JWT_SECRET=

FRONTEND_URL=
AGENT_URL=
INTERNAL_API_KEY=

# AWS Config
# MinIO
MINIO_ENDPOINT=
ACCESS_KEY=
SECRET_KEY=
REGION=
BUCKET_CV_NAME=

REDIS_HOST=
REDIS_PORT=
